@use '../../../variable.scss'as *;

$component: 'message';

.#{$prefix}-#{$component} {
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px;
  border-radius: 6px;

  .p-icon {
    width: 14px;
    height: 14px;
  }

  .p-inline-message-text {
    font-weight: 400;
    font-size: 14px;
    line-height: normal;
  }

  &.p-inline-message-error {
    color: #FF5757;
    background-color: rgba(255, 231, 230, 70%);
  }
}
