@use "sass:map";
@use '../../../variable.scss'as *;

$radio-border-color: $color-grey-dark;
$radio-border-disabled-color: $color-grey-bold;
$radio-border-radius: 50%;
$radio-hover-border-color: $color-primary-black;
$radio-hover-bg-color: $color-primary-hover;
$radio-focus-color: $color-primary-active;
$radio-invalid-color: $color-negative;
$radio-highlight-bg-color: $color-primary;
$radio-disabled-bg-color: $color-grey;
$radio-disabled-bg-fill-color: $color-grey-dark;
$radio-size: (sm: 16px,
  md: 20px,
  lg: 24px);
$icon-size: (sm: 9px,
  md: 12px,
  lg: 15px);
$component: 'radiogroup';

.#{$prefix}-#{$component} {
  &-wrapper {
    display: flex;
    flex-direction: row;
  }

  &-inner {
    display: flex;
    align-items: center;
    margin-right: 12px;

    label {
      margin-left: 8px;
      font-weight: 500;
      cursor: pointer;
      user-select: none;
    }

    @each $size,
    $dimension in $radio-size {
      &.rd-#{$size} {
        .p-radiobutton {
          width: $dimension;
          height: $dimension;

          &>.p-radiobutton-box {
            width: $dimension;
            height: $dimension;
            border: 1px solid $radio-border-color;
            border-radius: $radio-border-radius;
          }
        }

        .p-radiobutton-icon {
          width: map.get($icon-size, $size);
          height: map.get($icon-size, $size);
        }

        label {
          font-size: if($size=='sm', 12px, 14px);
          line-height: $dimension + 4px;
        }
      }
    }

    .p-radiobutton {
      // 悬停状态
      &:not(.p-disabled, .p-invalid):has(.p-radiobutton-input:hover) {
        .p-radiobutton-box {
          border-color: $radio-hover-border-color;
        }

        &:has(.p-radiobutton-input:checked) {
          .p-radiobutton-box {
            background-color: $radio-hover-bg-color;
            border-color: $radio-hover-bg-color;
          }
        }
      }

      // 聚焦状态
      &:not(.p-disabled, .p-invalid):has(.p-radiobutton-input:focus) {
        .p-radiobutton-box {
          border: 2px solid $radio-highlight-bg-color;
          box-shadow: none;

          .p-radiobutton-icon {
            background-color: #fff;
          }

          &:has(.p-radiobutton-input:checked) {
            background-color: $radio-focus-color;
          }
        }
      }

      // 无效状态
      &.p-invalid {
        .p-radiobutton-box {
          border-color: $radio-invalid-color;
        }
      }

      // 高亮状态
      &.p-highlight {
        .p-radiobutton-box {
          background-color: $radio-highlight-bg-color;
          border-color: $radio-highlight-bg-color;
        }

        // 高亮无效状态
        &.p-invalid {
          .p-radiobutton-box {
            background-color: $radio-invalid-color;
            border-color: $radio-invalid-color;
          }
        }
      }

      &.p-disabled {
        .p-radiobutton-box {
          background-color: $radio-disabled-bg-color;
          border-color: $radio-border-disabled-color;

          .p-radiobutton-icon {
            background-color: $radio-disabled-bg-fill-color;
          }
        }

        &:has(.p-radiobutton-input:checked) {
          .p-radiobutton-box {
            background-color: $radio-disabled-bg-color;
            border: 0;
          }
        }

      }
    }



  }
}