@use "sass:map";
@use '../../../variable.scss'as *;

$component: 'radiogroup';

.#{$prefix}-#{$component} {
  &-wrapper {
    display: flex;
    flex-direction: column;

   & .horizontal {
      flex-direction: row;
    }

   & .vertical {
      flex-direction: column;
    }
  }

  &-label {
    color: $color-primary-black;
    font-weight: 600;
    font-size: 16px;
    font-style: normal;
    line-height: 108%;

    &.label-required {
      &::after {
        margin-left: 4px;
        color: $color-negative;
        font-size: 16px;
        font-style: normal;
        line-height: 120%;
        content: '*';
      }
    }
  }

  &-inner {
    gap: 8px;
    margin-top: 8px;
  }

  &-default {
    display: flex;

    &-inner {
      display: flex;
      align-items: center;
      margin-right: 12px;

      label {
        margin-left: 8px;
        font-weight: 500;
        cursor: pointer;
        user-select: none;
      }
    }
  }

  &-card {
    display: flex;

    &-inner {
      display: flex;
      padding: 8px 16px;
      border: 1px solid $color-grey-bold;
      border-radius: 12px;
      cursor: pointer;

      &:not(.disabled, .invalid):hover {
        border-color: $color-primary-hover;
      }
    }

    &-checked {
      background-color: $color-grey-light;
      border-color: $color-primary;
    }

    &-disabled {
      background-color: $color-grey;
      cursor: not-allowed;
    }

    &-invalid {
      border-color: $color-negative;
      cursor: not-allowed;
    }
  }
}
