@use '../../../variable.scss'as *;

$component: 'menu';
$cls: #{$prefix}-#{$component};

.#{$cls} {
  width: auto;
  padding: 8px;
  background-color: $color-primary-white;
  border-color: $color-grey;
  border-style: solid;
  border-width: 1px;
  border-radius: 12px;
  box-shadow: 0 4px 8px 0 rgba(65, 91, 130, 12%);

  &.p-menu {
    .p-submenu-header:empty {
      display: none;
    }

    .p-menuitem {
      background-color: $color-primary-white;

      .p-menuitem-content {
        background-color: $color-primary-white;

        &:hover {
          background-color: $color-grey-light;
        }

        .p-menuitem-link {
          padding: 8px;

          .p-menuitem-text {
            color: $color-primary-black;
            font-weight: 400;
            font-size: 16px;
            font-style: normal;
            line-height: 140%;
          }
        }
      }
    }
  }

  &.#{$cls}-selector {
    padding: 8px 16px;
    background-color: $color-grey-light;
    border-radius: 16px;
    box-shadow: 0 255px 71px 0 rgba(0, 0, 0, 0%), 0 10px 22px 0 rgba(0, 0, 0, 10%);

    &.p-menu {
      .p-menuitem {
        background-color: $color-grey-light;

        .p-menuitem-content {
          background-color: $color-grey-light;

          .p-menuitem-link {
            padding: 12px 0;
          }
        }
      }
    }
  }
}