@use "sass:map";
@use '../../../variable.scss'as *;

$checkbox-border-color: $color-grey-dark;
$checkbox-border-radius: (sm: 4px,
  md: 4px,
  lg: 6px);
$checkbox-size: (sm: 16px,
  md: 20px,
  lg: 24px);
$component: 'checkbox';

.#{$prefix}-#{$component} {
  &-wrapper {
    display: flex;
    flex-direction: row;
    gap: 12px;
  }

  &-inner {
    display: flex;
    align-items: center;

    label,
    .#{$prefix}-#{$component}-label-wrap {
      display: inline-flex;
      gap: 8px;
      align-items: center;
      color: $color-grey-midnight;
      font-weight: 500;
      font-size: 14px;
      font-style: normal;
      cursor: pointer;
      user-select: none;
    }

    @each $size,
    $dimension in $checkbox-size {
      &.ckb-#{$size} {
        .p-checkbox {
          width: $dimension;
          height: $dimension;

          .p-checkbox-box {
            width: $dimension;
            height: $dimension;
            border: 1px solid $checkbox-border-color;
            border-radius: map.get($checkbox-border-radius, $size);

            i {
              color: $color-white;
              font-size: if($size=='sm', 10px, 14px);
            }
          }
        }

        label,
        .#{$prefix}-#{$component}-label-wrap {
          font-size: if($size=='sm', 12px, 14px);
          line-height: $dimension;
        }
      }
    }

    .p-checkbox {
      // 悬停状态
      &:not(.p-disabled, .p-invalid):has(.p-checkbox-input:hover) {
        .p-checkbox-box{
          background-color: $color-grey;
          border-color: $color-primary-black;
        }

      }

      // 聚焦状态
      &:not(.p-disabled, .p-invalid):has(.p-checkbox-input:focus) {
        .p-checkbox-box {
          border: 2px solid $color-primary;
          box-shadow: none;
        }

      }

      // 选中状态
      // 无效状态
      &.p-invalid {
        .p-checkbox-box {
          border: 1px solid $color-negative;
        }
      }

      // 高亮状态
      &.p-highlight {
        .p-checkbox-box {
          background-color: $color-primary;
          border-color: $color-primary;
        }

        &:not(.p-disabled, .p-invalid):has(.p-checkbox-input:hover) {
          .p-checkbox-box {
            background-color: $color-primary-black;
            border-color: $color-primary-black;
          }
        }

        // 高亮无效状态
        &.p-invalid {
          .p-checkbox-box {
            background-color: $color-negative;
            border-color: $color-negative;
          }
        }

      }

      &.p-disabled {
        .p-checkbox-box {
          background-color: $color-grey;
          border-color: $color-grey-bold;

          &>i {
            color: $color-grey-dark;
          }
        }

        &:has(.p-checkbox-input:checked),
        &:has(.p-checkbox-input[value="false"]),
        &:has(.p-checkbox-input:indeterminate) {
          .p-checkbox-box {
            background-color: $color-grey-deep;
            border-color: $color-grey-deep;
          }
        }
      }
    }

    .#{$prefix}-#{$component}-inner-checkbox-false {
      .p-checkbox-box {
        position: relative;
        background-color: $color-primary;
        border-color: $color-primary;

        &::after {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 50%;
          height: 2px;
          background-color: $color-white;
          transform: translate(-50%, -50%);
          content: '';
        }
      }

      &:not(.p-disabled, .p-invalid):has(.p-checkbox-input:hover) {
        .p-checkbox-box {
          background-color: $color-primary-black;
          border-color: $color-primary-black;
        }
      }

      &.p-invalid {
        .p-checkbox-box {
          background-color: $color-negative;
          border-color: $color-negative;
        }
      }

      &.p-disabled {
        .p-checkbox-box {
          background-color: $color-grey-deep;
          border-color: $color-grey-deep;
        }
      }
    }

    label:has(.p-checkbox.p-disabled),
    .#{$prefix}-#{$component}-label-wrap:has(.p-checkbox.p-disabled) {
      color: $color-grey-dark;
      cursor: not-allowed;
    }
  }
}
