@use "sass:map";
@use '../../../variable.scss' as *;

$checkbox-border-color: $color-grey-dark;
$checkbox-border-radius: (
  sm: 4px,
  md: 4px,
  lg: 6px
);
$checkbox-hover-border-color: $color-primary-black;
$checkbox-hover-bg-color: $color-primary-hover;
$checkbox-focus-border-color: $color-primary;
$checkbox-focus-bg-color: $color-primary-active;
$checkbox-invalid-color: $color-negative;
$checkbox-highlight-bg-color: $color-primary;
$checkbox-disabled-bg-color: $color-grey-bold;
$checkbox-size: (
  sm: 16px,
  md: 20px,
  lg: 24px
);

.om-react-ui-checkbox {
  &-wrapper {
    display: flex;
    flex-direction: row;
  }

  &-inner {
    display: flex;
    align-items: center;
    margin-right: 12px;

    label {
      margin-left: 10px;
      font-weight: 500;
      font-size: 14px;
      font-style: normal;
      cursor: pointer;
      user-select: none;
    }

    @each $size, $dimension in $checkbox-size {
      &.ckb-#{$size} {
        .p-checkbox {
          width: $dimension;
          height: $dimension;

          .p-checkbox-box {
            width: $dimension;
            height: $dimension;
            border: 1px solid $checkbox-border-color;
            border-radius: map.get($checkbox-border-radius, $size);

            i {
              color: #fff;
              font-size: if($size == 'sm', 10px, 14px);
            }
          }
        }

        label {
          font-size: if($size == 'sm', 12px, 14px);
          line-height: $dimension + 4px;
        }
      }
    }

    .p-checkbox {
      // 悬停状态
      &:not(.p-disabled, .p-invalid):has(.p-checkbox-input:hover) {
        .p-checkbox-box {
          border-color: $checkbox-hover-border-color;
        }

        // 选中悬停状态
        &:has(.p-checkbox-input:checked) {
          .p-checkbox-box {
            background-color: $checkbox-hover-bg-color;
            border-color: $checkbox-hover-bg-color;
          }
        }

      }

      // 聚焦状态
      &:not(.p-disabled,.p-invalid):has(.p-checkbox-input:focus) {
        .p-checkbox-box {
          border-color: $checkbox-focus-border-color;
          box-shadow: none;
        }

        &:has(.p-checkbox-input:checked) {
          .p-checkbox-box {
            background-color: $checkbox-focus-bg-color;
            border-color: $checkbox-focus-bg-color;
          }
        }
      }

      // 选中状态
      // 无效状态
      &.p-invalid {
        .p-checkbox-box {
          border: 1px solid $checkbox-invalid-color;
        }
      }

      // 高亮状态
      &.p-highlight {
        .p-checkbox-box {
          background-color: $checkbox-highlight-bg-color;
          border-color: $checkbox-highlight-bg-color;
        }

        // 高亮无效状态
        &.p-invalid {
          .p-checkbox-box {
            background-color: $checkbox-invalid-color;
            border-color: $checkbox-invalid-color;
          }
        }

      }

      &.p-disabled {
        .p-checkbox-box {
          background-color: $checkbox-disabled-bg-color;
          border-color: $checkbox-disabled-bg-color;

          & > i {
            color: $color-grey-dark !important;
          }
        }
      }
    }
  }
}
