@use '../../../variable.scss'as *;

$component: 'notification';
$cls: #{$prefix}-#{$component};

.#{$cls} {
  display: inline-flex;
  gap: 12px;
  align-items: center;
  padding: 12px;
  color: $color-grey-night;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  border-radius: 12px;

  &-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    border-radius: 50%;
  }

  &-success {
    background-color: $color-success-background;

    .#{$cls}-icon {
      background-color: $color-success-background;
    }
  }

  &-info {
    background-color: $color-grey-light;

    .#{$cls}-icon {
      background-color: $color-info-light;
    }
  }

  &-error {
    background-color: $color-negative-background;

    .#{$cls}-icon {
      background-color: $color-negative-background;
    }
  }

  &-warn {
    color: $color-grey-midnight;
    background-color: $color-warning-background;
    .#{$cls}-icon {
      background-color: $color-warning-background;
    }
  }
}
