@use '../../../variable.scss'as *;

$component: 'button';

.#{$prefix}-#{$component} {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  max-height: 52px;
  padding: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  border-radius: 12px;
  box-shadow: none;

  &-medium {
    max-height: 40px;
    padding: 12px;
    font-size: 14px;
    line-height: 16px;
    border-radius: 12px;
  }

  &-small {
    max-height: 32px;
    padding: 12px;
    font-size: 12px;
    line-height: 8px;
    border-radius: 8px;
  }

  &.p-disabled {
    cursor: not-allowed;
  }

  &.p-button-rounded {
    border-radius: 36px;
  }

  &-loading-icon {
    width: 20px !important;
    height: 20px !important;
    margin-right: 8px;
    margin-left: 0;

    &-medium {
      width: 16px !important;
      height: 16px !important;
    }

    &-small {
      width: 14px !important;
      height: 14px !important;
    }

    &-primary {
      svg circle {
        stroke: $color-primary-white !important;
      }
    }

    &-secondary {
      svg circle {
        stroke: $color-primary !important;
      }
    }

    &-grey {
      svg circle {
        stroke: $color-grey-dark !important;
      }
    }

    &-black {
      svg circle {
        stroke: $color-primary-white !important;
      }
    }

    &-white {
      svg circle {
        stroke: $color-grey-dark !important;
      }
    }

    &-danger-light {
      svg circle {
        stroke: $color-negative !important;
      }
    }
  }

  &-primary {
    color: $color-primary-white;
    background-color: $color-primary;
    border: none;

    &:hover {
      background-color: $color-primary-hover;
    }

    &-active {
      background-color: $color-primary-active;
    }
  }

  &-primary.p-disabled {
    opacity: 0.3;
  }

  &-secondary {
    color: $color-primary;
    background-color: $color-secondary;
    border: none;

    &:hover {
      background-color: $color-secondary-hover;
    }

    &-active {
      background-color: $color-secondary-active;
    }
  }

  &-secondary.p-disabled {
    opacity: 0.4;
  }

  &-grey {
    color: $color-primary-black;
    background-color: $color-grey;
    border: none;

    &:hover {
      background-color: $color-grey-deep;
    }

    &-active {
      background-color: $color-grey-bold;
    }
  }

  &-grey.p-disabled {
    color: $color-grey-dark;
    background-color: $color-grey;
  }

  &-black {
    color: $color-primary-white;
    background-color: $color-primary-black;
    border: none;

    &:hover {
      background-color: $color-grey-night;
    }

    &-active {
      background-color: $color-grey-midnight;
    }
  }

  &-black.p-disabled {
    background-color: $color-grey-bold;
  }

  &-white {
    color: $color-primary-black;
    background-color: $color-primary-white;
    border: none;

    &:hover {
      background-color: $color-grey;
    }

    &-active {
      background-color: $color-grey-bold;
    }
  }

  &-white.p-disabled {
    color: $color-grey-dark;
    background-color: $color-primary-white;
  }

  &-primary.p-button-loading.p-disabled {
    color: #FFF;
    background-color: #142D66;
  }

  &-secondary.p-button-loading.p-disabled {
    color: #000;
    background-color: #E5EFFF;
  }

  &-primary-landing {
    padding: 10px 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    background-color: #073387;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 10%);
  }

  &-secondary-landing {
    padding: 10px 16px;
    color: #000;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    background-color: #FFF;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 10%);
  }

  &-danger {
    color: $color-primary-white;
    background-color: $color-negative;
    border: none;

    &:hover {
      background-color: $color-negative-hover;
    }

    &-active {
      background-color: $color-negative-active;
    }

    &.p-disabled {
      opacity: 0.4;
    }
  }

  &-danger-light {
    color: $color-negative;
    background-color: rgba($color-negative, 0.1);
    border: none;

    &:hover {
      color: $color-negative-hover;
      background-color: rgba($color-negative, 0.2);
    }

    &-active {
      color: $color-negative-active;
      background-color: rgba($color-negative, 0.30);
    }

    &.p-disabled {
      color: $color-negative;
      background-color: rgba($color-negative, 0.1);
      opacity: 0.4;
    }
  }
}
