.usd1-react-ui-sidebar {
  height: 100vh;
  padding: 0 8px;
  border-right: 1px solid #F2F2F2 !important;

  &-expand-icon {
    &-open {
      transform: rotate(180deg);
    }
  }

  .ps-sidebar-container {
    display: flex;
    flex-direction: column;
    background-color: transparent;

    .ps-menu-root {
      >ul {
        display: flex;
        flex-direction: column;
        gap: 16px;
      }

      .ps-menuitem-root {
        .ps-menu-button {
          padding: 0;
          padding: 16px;
          color: #404040;
          font-weight: 700;
          font-size: 14px;
          line-height: 14px;
          border-radius: 16px;

          &:hover {
            color: #3D73F2;
            background-color: rgba(229, 239, 255, 50%);

            .ps-menu-icon {
              color: inherit;
            }
          }

          .ps-menu-icon {
            width: 16px;
            min-width: 16px;
            height: 16px;
            margin-right: 16px;
            color: #808080;
            line-height: 16px;
          }
        }

        .ps-menu-button.ps-active {
          color: #3D73F2;
          background-color: #E5EFFF;

          .ps-menu-icon {
            color: inherit;
          }
        }

        .ps-submenu-content {
          background-color: #F9FAFB;
          border-radius: 16px;
        }

        .ps-submenu-content.ps-open {
          padding: 8px 0;
        }
      }
    }
  }

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px 0 32px 16px;
  }

  &-logo {
    cursor: pointer;
  }

  &-collapse {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;

    &-icon {
      cursor: pointer;
    }
  }

  &-footer {
    display: inline-flex;
    align-items: center;
    margin-top: auto;
    padding: 16px;
    border-radius: 16px;
    cursor: pointer;

    &-logout {
      display: inline-flex;
      width: 16px;
      height: 16px;
      margin-right: 16px;
      color: #808080;
    }

    &:hover {
      color: #3D73F2;
      background-color: rgba(229, 239, 255, 50%);

      .usd1-react-ui-sidebar-footer-logout {
        color: #3D73F2;
      }
    }

    &-logout-text {
      font-weight: 700;
      font-size: 14px;
      line-height: 14px;
    }
  }

  &.ps-collapsed {
    .ps-sidebar-container {
      .ps-menu-root {
        .ps-menuitem-root {
          .ps-menu-button {
            .ps-menu-icon {
              margin-left: 8px;
            }
          }
        }
      }
    }

    .usd1-react-ui-sidebar-header {
      padding-left: 22px;
    }

    .usd1-react-ui-sidebar-footer {
      padding-left: 24px;

      &-logout-text {
        display: none;
      }
    }
  }
}