@use '../../../variable.scss'as *;

$component: 'sidebar';
$cls: #{$prefix}-#{$component};

.#{$cls} {
  height: 100vh;
  padding: 40px 16px 24px;
  background-color: $color-grey-light;
  border-right: 1px solid #F2F2F2 !important;

  &-expand-icon {
    &-open {
      transform: rotate(180deg);
    }
  }

  .ps-sidebar-container {
    display: flex;
    flex-direction: column;
    background-color: transparent;

    .ps-menu-root {
      >ul {
        display: flex;
        flex-direction: column;
        gap: 16px;
      }

      .ps-menuitem-root {
        .ps-menu-button {
          padding: 0;
          padding: 16px;
          color: $color-primary-black;
          font-weight: 500;
          font-size: 14px;
          line-height: 17px;
          border-radius: 12px;

          &:hover {
            color: inherit;
            background-color: $color-grey;

            .ps-menu-icon {
              color: inherit;
            }
          }

          .ps-menu-icon {
            width: 16px;
            min-width: 16px;
            height: 16px;
            margin-right: 16px;
            color: #808080;
            line-height: 16px;
          }
        }

        .ps-menu-button.ps-active {
          color: $color-primary-black;
          background-color: $color-grey;

          .ps-menu-icon {
            color: inherit;
          }
        }

        .ps-submenu-content {
          background-color: $color-grey-light;
          border-radius: 8px;
        }

        .ps-submenu-content.ps-open {
          padding: 8px 0;
        }
      }
    }
  }

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0 16px 16px;
  }

  &-logo {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 16px 0;
    cursor: pointer;
  }

  &-collapse {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;

    &-icon {
      cursor: pointer;
    }
  }

  &-footer {
    display: inline-flex;
    align-items: center;
    margin-top: auto;
    padding: 16px;
    border-radius: 8px;
    cursor: pointer;

    &-logout {
      display: inline-flex;
      width: 16px;
      height: 16px;
      margin-right: 16px;
      color: #808080;
    }

    &:hover {
      color: $color-primary-black;
      background-color: $color-grey;

      .#{$cls}-footer-logout {
        color: $color-primary-black;
      }
    }

    &-logout-text {
      font-weight: 700;
      font-size: 14px;
      line-height: 14px;
    }
  }

  &.ps-collapsed {
    .ps-sidebar-container {
      overflow: visible;

      .#{$cls}-header {
        margin-left: 16px;
        padding: 0;
      }

      .ps-menu-root {
        .ps-menuitem-root {
          .ps-menu-button {
            padding: 0;

            .ps-menu-icon {
              margin-left: 16px;
            }
          }
        }
      }
    }

    .#{$cls}-header {
      padding-left: 22px;
    }

    .#{$cls}-footer {
      padding-left: 16px;

      &-logout-text {
        display: none;
      }
    }
  }
}