@use '../../../variable.scss'as *;

$component: 'stepper';
$cls: #{$prefix}-#{$component};

.#{$cls} {
  display: flex;
  flex-direction: column;
  width: 280px;
  height: 100vh;
  padding: 40px 16px 24px;
  color: $color-primary-black;
  background-color: $color-primary-white;
  border-right: 1px solid $color-grey-deep;

  &-header {
    height: 32px;
    padding: 0 0 8px 8px;

    &-logo {
      display: inline-flex;
      padding: 0;
      color: inherit;
      background: transparent;
      border: none;
      cursor: pointer;

      &:focus-visible {
        outline: 2px solid $color-primary;
        outline-offset: 2px;
      }
    }
  }

  &-steps {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    margin-top: 32px;
    padding: 0;
    list-style: none;

    .#{$cls}-step {
      display: inline-flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 48px;
      padding: 16px 12px;
      color: $color-grey-midnight;
      background-color: $color-primary-white;
      border-radius: 12px;
      cursor: pointer;

      &-label {
        font-weight: 500;
        font-size: 16px;
        line-height: 18px;
      }

      &-active {
        color: $color-primary-black;
        background-color: $color-info-light;
      }

      &-done {
        color: $color-primary-black;

        &-active {
          color: $color-primary-black;
          background-color: $color-info-light;
        }
      }

      &-disabled {
        cursor: not-allowed;
      }
    }
  }

  &-footer {
    margin-top: auto;
    color: $color-grey-midnight;
    font-weight: 600;
    font-size: 12px;
    line-height: 13px;
  }
}
