@use '../../../variable.scss'as *;

$component: 'switch';

.#{$prefix}-#{$component} {
  display: inline-flex;

  &.p-inputswitch.p-highlight .p-inputswitch-slider {
    background-color: $color-primary;
    box-shadow: none;
  }

  &-button {
    &.p-button {
      background-color: $color-info;
      border: none;
      box-shadow: none;
    }
  }
}