@use '../../../variable.scss'as *;

$component: 'upload';

.#{$prefix}-#{$component} {
  &-btn {
    color: $color-primary-white;
    font-weight: 500;
    font-size: 14px;
    background-color: $color-primary;
    border-color: transparent;
    border-radius: 12px;
    box-shadow: none;

    >svg {
      width: 12px;
      height: 12px;
    }

    .p-button-label {
      font-weight: inherit;
    }
  }
}