@use '../../../variable.scss'as *;

$component: 'upload';

.#{$prefix}-#{$component} {
  &-btn {
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    background-color: #142D66;
    border-color: transparent;
    border-radius: 8px;
    box-shadow: none;

    >svg {
      width: 12px;
      height: 12px;
    }
  }
}