.usd1-react-ui-upload {

  &-btn {
    background-color: #142D66;
    border-radius: 8px;
    font-size: 14px;
    color: #fff;
    font-weight: 700;

    >svg {
      width: 12px;
      height: 12px;
    }
  }
}