@use '../../../variable.scss'as *;

$component: 'icons';

.#{$prefix}-#{$component} {
  *[fill="none"][stroke="none"] {
    fill: currentcolor;
  }

  *[stroke="none"]:not([stroke-width="0"]) {
    stroke: currentcolor;
  }

  &-logo-with-words {
    display: inline-flex;
    align-items: center;
    font-style: normal;

    svg {
      &:nth-last-child(1) {
        padding-left: 5%;
      }
    }

    &-with-network {
      svg {
        &:nth-child(2),
        &:nth-child(3) {
          padding-left: 2.5%;
        }
      }
    }
  }
}