.usd1-react-ui-progress {
  &-ring {
    position: relative;
    overflow: hidden;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: conic-gradient(var(--fill-color) 0 var(--progress), var(--trail-color) var(--progress) var(--last));

    &>* {
      position: relative;
      z-index: 1;
    }

    &::before {
      content: '';
      position: absolute;
      inset: var(--stroke);
      background-color: var(--bg-color);
      border-radius: 50%;
      width: calc(var(--size) - (var(--stroke) * 2));
      height: calc(var(--size) - (var(--stroke) * 2));
      text-align: center;
      line-height: calc(var(--size) - (var(--stroke) * 2));
    }
  }

  &-bar {
    background-color: var(--trail-color);

    .p-progressbar-value {
      background-color: var(--fill-color);

      .p-progressbar-label {
        color: var(--label-color);
      }
    }
  }
}