@use '../../../variable.scss'as *;

$component: 'typography';

.#{$prefix}-#{$component} {
  &-display {
    margin: 0;
    color: $color-primary-black;
    font-weight: $font-weight-medium;
    font-family: $font-family-display;

    &-bold {
      font-weight: $font-weight-bold;
    }

    &-xl {
      font-size: 64px;
      letter-spacing: -0.25px;
    }

    &-l {
      font-size: 52px;
      letter-spacing: -0.25px;
    }

    &-m {
      font-size: 45px;
    }

    &-s {
      font-size: 36px;
    }
  }

  &-headline {
    margin: 0;
    color: $color-primary-black;
    font-weight: $font-weight-medium;
    font-family: $font-family-display;

    &-bold {
      font-weight: $font-weight-bold;
    }

    &-l {
      font-size: 32px;
    }

    &-m {
      font-size: 28px;
    }

    &-s {
      font-size: 24px;
    }

    &-xs {
      font-size: $font-size-xl;
    }
  }

  &-title {
    margin: 0;
    color: $color-primary-black;
    font-weight: $font-weight-medium;
    font-family: $font-family-primary;

    &-bold {
      font-weight: $font-weight-bold;
    }

    &-l {
      font-size: $font-size-xl;
    }

    &-m {
      font-size: $font-size-lg;
    }

    &-s {
      font-size: $font-size-md;
    }
  }

  &-body {
    margin: 0;
    color: $color-primary-black;
    font-weight: $font-weight-regular;
    font-family: $font-family-primary;

    &-bold {
      font-weight: $font-weight-medium;
    }

    &-l {
      font-size: $font-size-lg;
    }

    &-m {
      font-size: $font-size-md;
    }

    &-s {
      font-size: $font-size-sm;
    }
  }

  &-link {
    display: inline-block;
    color: $color-primary-black;
    font-weight: $font-weight-medium;
    font-family: $font-family-primary;
    cursor: pointer;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;

    &-m {
      font-size: $font-size-md;
    }

    &-s {
      font-size: $font-size-sm;
    }
  }

  &-label {
    display: inline-block;
    color: $color-primary-black;
    font-weight: $font-weight-medium;
    font-family: $font-family-primary;

    &-bold {
      font-weight: $font-weight-semibold;
    }

    &-xl {
      font-size: $font-size-xl;
    }

    &-l {
      font-size: $font-size-lg;
    }

    &-m {
      font-size: $font-size-md;
    }

    &-s {
      font-size: $font-size-sm;
    }

    &-xs {
      font-size: $font-size-xs;
    }
  }
}