@use "sass:map";
@use '../../../variable.scss' as *;

$component: 'checkboxgroup';
$size-class-prefix: 'ckbg';
$checkbox-border-color: $color-grey-dark;
$checkbox-border-radius: (
  sm: 4px,
  md: 4px,
  lg: 6px,
);
$checkbox-size: (
  sm: 16px,
  md: 20px,
  lg: 24px,
);
$checkbox-icon-size: (
  sm: 10px,
  md: 14px,
  lg: 14px,
);
$checkbox-label-size: (
  sm: 12px,
  md: 14px,
  lg: 14px,
);

@mixin set-checkbox-box-colors($background-color, $border-color) {
  .p-checkbox-box {
    background-color: $background-color;
    border-color: $border-color;
  }
}

@mixin apply-checkbox-size($size-key, $dimension) {
  &.#{$size-class-prefix}-#{$size-key} {
    .p-checkbox {
      width: $dimension;
      height: $dimension;

      .p-checkbox-box {
        width: $dimension;
        height: $dimension;
        border: 1px solid $checkbox-border-color;
        border-radius: map.get($checkbox-border-radius, $size-key);

        i {
          color: $color-white;
          font-size: map.get($checkbox-icon-size, $size-key);
        }
      }
    }

    label {
      font-size: map.get($checkbox-label-size, $size-key);
      line-height: $dimension;
    }
  }
}

.#{$prefix}-#{$component} {
  &-wrapper {
    display: flex;
    flex-direction: row;
    gap: 12px;
  }

  &-inner {
    display: flex;
    align-items: center;

    label {
      display: inline-flex;
      gap: 8px;
      align-items: center;
      color: $color-grey-midnight;
      font-weight: 500;
      font-size: 14px;
      font-style: normal;
      cursor: pointer;
      user-select: none;
    }

    @each $size-key, $dimension in $checkbox-size {
      @include apply-checkbox-size($size-key, $dimension);
    }

    .p-checkbox {
      &:not(.p-disabled, .p-invalid):has(.p-checkbox-input:hover) {
        @include set-checkbox-box-colors($color-grey, $color-primary-black);
      }

      &:not(.p-disabled, .p-invalid):has(.p-checkbox-input:focus) {
        .p-checkbox-box {
          border: 2px solid $color-primary;
          box-shadow: none;
        }
      }

      &.p-invalid {
        .p-checkbox-box {
          border: 1px solid $color-negative;
        }
      }

      &.p-highlight {
        @include set-checkbox-box-colors($color-primary, $color-primary);

        &:not(.p-disabled, .p-invalid):has(.p-checkbox-input:hover) {
          @include set-checkbox-box-colors($color-primary-black, $color-primary-black);
        }

        &.p-invalid {
          @include set-checkbox-box-colors($color-negative, $color-negative);
        }
      }

      &.p-disabled {
        .p-checkbox-box {
          background-color: $color-grey;
          border-color: $color-grey-bold;

          > i {
            color: $color-grey-dark;
          }
        }

        &:has(.p-checkbox-input:checked),
        &:has(.p-checkbox-input[value="false"]),
        &:has(.p-checkbox-input:indeterminate) {
          @include set-checkbox-box-colors($color-grey-deep, $color-grey-deep);
        }
      }
    }

    label:has(.p-checkbox.p-disabled) {
      color: $color-grey-dark;
      cursor: not-allowed;
    }
  }
}
