@use '../../../variable.scss' as *;

$component: 'flex';
$flex-gap-fallback: 0px;
$flex-var-gap: '--om-flex-gap';

.#{$prefix}-#{$component} {
  display: flex;
  gap: var(#{$flex-var-gap}, #{$flex-gap-fallback});

  &-vertical {
    flex-direction: column;
  }

  &-wrap-wrap {
    flex-wrap: wrap;
  }

  &-wrap-nowrap {
    flex-wrap: nowrap;
  }

  &-wrap-wrap-reverse {
    flex-wrap: wrap-reverse;
  }

  &-justify-start {
    justify-content: flex-start;
  }

  &-justify-end {
    justify-content: flex-end;
  }

  &-justify-center {
    justify-content: center;
  }

  &-justify-space-between {
    justify-content: space-between;
  }

  &-justify-space-around {
    justify-content: space-around;
  }

  &-justify-space-evenly {
    justify-content: space-evenly;
  }

  &-align-start {
    align-items: flex-start;
  }

  &-align-end {
    align-items: flex-end;
  }

  &-align-center {
    align-items: center;
  }

  &-align-baseline {
    align-items: baseline;
  }

  &-align-stretch {
    align-items: stretch;
  }
}
