@use '../../../variable.scss'as *;

$component: 'table';

.#{$prefix}-#{$component} {
  padding: 12px 0 0;
  overflow: hidden;
  background-color: $color-primary-white;
  border-color: $color-grey;
  border-style: solid;
  border-width: 1px;
  border-radius: 12px;

  &.p-datatable-scrollable {
    .p-datatable-wrapper {
      z-index: 2;
      padding-right: 0;
    }

    .p-datatable-table {
      &::before {
        content: none;
      }

      .p-datatable-thead {
        position: sticky;
        background-color: $color-grey-light;

        &::before,
        &::after {
          position: absolute;
          top: 0;
          height: 100%;
          background-color: $color-grey-light;
          content: '';
        }

        &::before {
          left: -16px;
          width: 16px;
        }

        &::after {
          right: -12px;
          width: 12px;
        }
      }
    }

    &::after {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 39px;
      background-color: $color-grey-light;
      border-bottom: 1px solid transparent;
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
      content: '';
    }
  }

  &:not(.#{$prefix}-#{$component}-transparent).p-datatable-scrollable {
    .p-datatable-table {
      .p-datatable-thead {
        tr {
          th {
            border-bottom: none;
          }
        }
      }
    }
  }

  &-hover,
  &-scrolling {
    .p-datatable-wrapper,
    .p-virtualscroller {
      &::-webkit-scrollbar-thumb {
        background-color: $color-grey-bold !important;
      }
    }
  }

  &-hover-effect {
    .p-datatable-tbody {
      tr {
        &.p-selectable-row:not(.p-highlight, .p-datatable-emptymessage):hover {
          background-color: $color-grey;

          td {
            &:first-child {
              position: relative;

              &::before {
                position: absolute;
                top: 0;
                left: -16px;
                width: 16px;
                height: 100%;
                background-color: $color-grey;
                content: '';
              }
            }

            &:last-child {
              position: relative;

              &::after {
                position: absolute;
                top: 0;
                right: -16px;
                width: 16px;
                height: 100%;
                background-color: $color-grey;
                content: '';
              }
            }
          }
        }
      }
    }
  }

  .p-datatable-wrapper {
    padding: 0;
    overflow: hidden auto !important;
    overflow-y: auto !important;

    &::-webkit-scrollbar {
      width: 4px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: transparent;
      border-radius: 4px;
      transition: background-color 0.3s ease;
    }

    &::-webkit-scrollbar-track {
      margin: 36px 0 4px;
      background-color: transparent;
    }
  }

  .p-virtualscroller {
    &::-webkit-scrollbar {
      width: 4px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: transparent;
      border-radius: 4px;
      transition: background-color 0.3s ease;
    }

    &::-webkit-scrollbar-track {
      margin: 36px 0 4px;
    }
  }

  .p-datatable-header,
  .p-datatable-footer {
    position: relative;
    z-index: 2;
    padding: 0;
    color: $color-primary-black;
    font-weight: 500;
    background-color: transparent;
    border: none;
  }

  &-scrolled {
    .p-datatable-table {
      &::before {
        display: none;
      }
    }
  }

  .p-datatable-table {
    padding: 0 12px 0 16px;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 40px;
      background-color: $color-grey-light;
      border-bottom: 1px solid transparent;
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
      content: '';
    }

    .p-datatable-thead {
      position: sticky;
      z-index: 2;
      background-color: transparent;

      tr {
        th {
          padding: 0 0 12px;
          background-color: transparent;
          border-bottom: 1px solid $color-grey;

          &:first-child {
            padding-left: 8px;
          }

          &:last-child {
            padding-right: 8px;
          }

          .p-column-title {
            color: $color-primary-black;
            font-weight: 700;
            font-size: 14px;
            font-family: var(--font-inter), Inter;
            font-style: normal;
            line-height: 15px;
          }
        }
      }
    }

    .p-datatable-tbody {
      border: none;

      tr {
        color: $color-primary-black;
        background-color: transparent;

        &.p-highlight {
          background-color: $color-grey;

          td {
            &:first-child {
              position: relative;

              &::before {
                position: absolute;
                top: 0;
                left: -16px;
                width: 16px;
                height: 100%;
                background-color: $color-grey;
                content: '';
              }
            }

            &:last-child {
              position: relative;

              &::after {
                position: absolute;
                top: 0;
                right: -16px;
                width: 16px;
                height: 100%;
                background-color: $color-grey;
                content: '';
              }
            }
          }
        }

        td {
          padding: 16px 0;
          color: $color-primary-black;
          font-weight: 500;
          font-size: 14px;
          font-family: var(--font-inter), Inter;
          font-style: normal;
          border-bottom: none;

          &:first-child {
            padding-left: 8px;
          }

          &:last-child {
            padding-right: 8px;
          }
        }
      }

      .p-datatable-row-expansion td {
        padding: 0 !important;
      }
    }
  }

  &-row-border {
    .p-datatable-table {
      .p-datatable-tbody {
        tr {
          td {
            border-bottom: 1px solid $color-grey;

            &:first-child {
              border-top-left-radius: 0;
              border-bottom-left-radius: 0;

              &::before {
                top: -1px !important;
                border-top: 1px solid $color-grey;
                border-bottom: 1px solid $color-grey;
              }
            }

            &:last-child {
              border-top-right-radius: 0;
              border-bottom-right-radius: 0;

              &::after {
                top: -1px !important;
                border-top: 1px solid $color-grey;
                border-bottom: 1px solid $color-grey;
              }
            }
          }

          &:last-child {
            td {
              border-bottom: none;
            }
          }
        }
      }
    }
  }

  &-transparent {
    background-color: transparent;
    border: none;

    &.p-datatable-scrollable {
      .p-datatable-table {
        .p-datatable-thead {
          background-color: transparent;
        }
      }

      &::after {
        background-color: $color-primary-white;
        border: none;
        box-shadow: none;
      }
    }
  }
}