@use '../../../variable.scss'as *;

$component: 'table';

.#{$prefix}-#{$component} {
  padding: 24px 6px 8px 16px;
  background-color: $color-grey-light;
  border-color: $color-grey-deep;
  border-style: solid;
  border-width: 1px;
  border-radius: 24px;

  &.p-datatable-scrollable {
    .p-datatable-wrapper {
      padding-right: 6px;
      overflow-x: visible !important;
    }

    .p-datatable-table {
      .p-datatable-thead {
        background-color: $color-grey-light;
      }
    }


    &::after {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 54px;
      background-color: $color-grey-light;
      border-bottom: 1px solid $color-grey-deep;
      border-top-left-radius: 24px;
      border-top-right-radius: 24px;
      box-shadow: 0 4px 8px 0 rgba(65, 91, 130, 12%);
      content: '';
    }
  }

  .p-datatable-wrapper {
    padding: 0 8px 0 0;

    &::-webkit-scrollbar {
      width: 4px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $color-grey-bold;
      border-radius: 4px;
    }
  }

  .p-datatable-header,
  .p-datatable-footer {
    position: relative;
    z-index: 2;
    padding: 0;
    color: $color-primary-black;
    font-weight: 500;
    background-color: transparent;
    border: none;
  }

  .p-datatable-table {
    .p-datatable-thead {
      background-color: transparent;

      tr {
        th {
          padding: 0 0 16px;
          background-color: transparent;
          border-bottom: 1px solid $color-grey-deep;

          &:first-child {
            padding-left: 8px;
          }

          &:last-child {
            padding-right: 8px;
          }

          .p-column-title {
            color: $color-grey-night;
            font-weight: 500;
            font-size: 12px;
            font-family: var(--font-inter), Inter;
            font-style: normal;
            line-height: 108%;
          }
        }
      }
    }

    .p-datatable-tbody {
      border: none;

      tr {
        color: $color-primary-black;
        background-color: transparent;

        &.p-selectable-row:not(.p-highlight, .p-datatable-emptymessage):hover {
          background-color: $color-grey;
        }

        &.p-highlight {
          background-color: $color-grey;
        }

        td {
          padding: 16px 0;
          color: $color-primary-black;
          font-weight: 500;
          font-size: 14px;
          font-family: var(--font-inter), Inter;
          font-style: normal;
          line-height: 140%;
          border-bottom: none;

          &:first-child {
            padding-left: 8px;
            border-top-left-radius: 12px;
            border-bottom-left-radius: 12px;
          }

          &:last-child {
            padding-right: 8px;
            border-top-right-radius: 12px;
            border-bottom-right-radius: 12px;
          }
        }
      }

      .p-datatable-row-expansion td {
        padding: 0 !important;
      }
    }
  }

  &-row-border {
    .p-datatable-table {
      .p-datatable-tbody {
        tr {
          td {
            border-bottom: 1px solid $color-grey-deep;

            &:first-child {
              border-top-left-radius: 0;
              border-bottom-left-radius: 0;
            }

            &:last-child {
              border-top-right-radius: 0;
              border-bottom-right-radius: 0;
            }
          }

          &:last-child {
            td {
              border-bottom: none;
            }
          }
        }
      }
    }
  }

  &-transparent {
    background-color: transparent;
    border: none;

    &.p-datatable-scrollable {
      .p-datatable-table {
        .p-datatable-thead {
          background-color: transparent;
        }
      }

      &::after {
        background-color: $color-primary-white;
        border: none;
        box-shadow: none;
      }
    }
  }
}