@use '../../../variable.scss'as *;

$component: 'tab';

.#{$prefix}-#{$component} {
  position: relative;

  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 2px;
    background-color: $color-grey-deep;
    content: '';
  }

  .p-tabmenu {
    position: relative;
    z-index: 1;
    padding-bottom: 2px;

    .p-tabmenu-nav {
      background-color: transparent;

      .p-tabmenuitem {
        .p-menuitem-link {
          padding: 14px 24px;
          color: $color-grey-midnight;
          font-weight: 700;
          font-size: 16px;
          background-color: transparent;
          border-color: $color-grey-deep;
          border-bottom-width: 2px;
          border-bottom-style: solid;

          &:hover {
            background-color: transparent;
            border-color: $color-grey-deep;
          }
        }
      }

      .p-tabmenuitem.p-highlight {
        .p-menuitem-link {
          color: $color-primary-black;
          background-color: transparent;
          border-color: $color-primary-black;
        }
      }
    }
  }

  &-item {
    display: inline-flex;
    gap: 4px;
    align-items: center;
    font-family: var(--font-inter), Inter;
    cursor: pointer;

    &-label {
      color: inherit;
      font-weight: 700;
      font-size: 14px;
    }

    &-count {
      display: inline-flex;
      align-items: center;
      height: 24px;
      padding: 4px 8px;
      color: $color-primary-black;
      font-weight: 500;
      font-size: 12px;
      background-color: $color-grey;
      border-radius: 12px;
    }
  }

  &-segment {
    &::after {
      display: none;
    }

    .p-tabmenu {
      .p-tabmenu-nav {
        .p-tabmenuitem {
          padding: 4px;
          background-color: $color-grey;

          &:nth-child(1) {
            border-top-left-radius: 64px;
            border-bottom-left-radius: 64px;
          }

          &:nth-last-child(2) {
            border-top-right-radius: 64px;
            border-bottom-right-radius: 64px;
          }

          .p-menuitem-link {
            padding: 10px 16px;
            border: none;
            border-radius: 40px;

            .p-menuitem-text {
              font-weight: 500;
            }

            &:hover {
              color: $color-primary-black;
            }
          }
        }

        .p-tabmenuitem.p-highlight {
          .p-menuitem-link {
            color: $color-white;
            background-color: $color-primary-black;
          }
        }

        .p-tabmenuitem.p-disabled {
          opacity: 1;

          .p-menuitem-link {
            color: $color-grey-dark;
          }
        }
      }
    }

    .#{$prefix}-#{$component}-item {
      &-count {
        background-color: $color-grey-deep;
      }
    }
  }
}