@use '../../../variable.scss'as *;

$component: 'tab';

.#{$prefix}-#{$component} {
  position: relative;

  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 2px;
    background-color: $color-grey-deep;
    content: '';
  }

  .p-tabmenu {
    position: relative;
    z-index: 1;
    padding-bottom: 2px;

    .p-tabmenu-nav {
      background-color: transparent;

      .p-tabmenuitem {
        .p-menuitem-link {
          padding: 18px 24px;
          color: $color-grey-midnight;
          font-weight: 700;
          font-size: 16px;
          background-color: transparent;
          border-color: $color-grey-deep;
          border-bottom-width: 2px;
          border-bottom-style: solid;

          &:hover {
            background-color: transparent;
            border-color: $color-grey-deep;
          }
        }
      }

      .p-tabmenuitem.p-highlight {
        .p-menuitem-link {
          color: $color-primary-black;
          background-color: transparent;
          border-color: $color-primary-black;
        }
      }
    }
  }
}