.usd1-react-ui-confirm-popup {
  .p-confirm-popup-footer {
    .p-confirm-popup-accept {
      color: #FFF;
      background-color: #faaa48;
      border: none;
      box-shadow: none;

      &:hover {
        background-color: #e58918;
      }
    }

    .p-confirm-popup-reject {
      color: #404040;
      box-shadow: none;

      &:hover {
        background-color: transparent;
      }
    }
  }
}