.om-react-ui-copy{flex-shrink:0;padding:8px;background-color:#f0f0f0;border-radius:12px;cursor:pointer}.om-react-ui-copy:not(.om-react-ui-copy-success):hover{background-color:#e3e4e4}.om-react-ui-copy-success{background-color:#1f580033}
