@use '../../../variable.scss' as *;

.#{$prefix}-proform-submitter {
  display: flex;
  gap: 12px;
  margin-top: 16px;
}

.#{$prefix}-proform-modal-form,
.#{$prefix}-proform-drawer-form {
  padding: 16px;
  background: $color-white;
  border: 1px solid $color-grey-deep;
  border-radius: 12px;
}

.#{$prefix}-proform-modal-form-title,
.#{$prefix}-proform-drawer-form-title,
.#{$prefix}-proform-steps-form-title {
  margin-bottom: 12px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.#{$prefix}-proform-steps-form-description {
  margin-bottom: 12px;
  color: $color-grey-midnight;
  font-size: 14px;
}

.#{$prefix}-proform-steps-form-actions,
.#{$prefix}-proform-query-filter-actions {
  display: flex;
  gap: 8px;
  margin-top: 16px;
}

.#{$prefix}-proform-query-filter {
  .#{$prefix}-form-item-root {
    margin-bottom: 0;
  }
}

.#{$prefix}-proform-query-filter-split {
  padding-top: 16px;
  border-top: 1px solid $color-grey-deep;
}

.#{$prefix}-proform-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.#{$prefix}-proform-list-label {
  font-weight: 600;
  font-size: 14px;
}

.#{$prefix}-proform-list-row-actions {
  display: flex;
  gap: 8px;
}
