.usd1-react-ui-calendar {
  input {
    padding: 10px 16px;
    border-radius: 6px;

    &:hover {
      border-color: #3D73F2;
    }
  }

  &-rounded {
    input {
      border-radius: 20px;
    }
  }

  &.p-calendar:not(.p-calendar-disabled).p-focus>.p-inputtext {
    border-color: #3D73F2;
    box-shadow: 0 0 0 2px #ABC4FF;
  }
}

.usd1-react-ui-calendar-panel {
  .p-datepicker-buttonbar {
    .p-button {
      color: #3B82F6;
    }
  }
}

.usd1-react-ui-calendar-wrapper {
  display: inline-flex;
  flex-direction: column;
}

.usd1-react-ui-calendar-label {
  display: inline-block;
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 20px;
  word-wrap: break-word;
  word-break: break-all;

  &-required {
    &::after {
      color: #CC1461;
      font-weight: 400;
      font-size: 14px;
      font-style: normal;
      line-height: 120%;
      content: '*';
    }
  }
}