@use '../../../variable.scss'as *;

$component: 'calendar';
$cls: #{$prefix}-#{$component};
$size: 36px;

.#{$cls} {
  &-small {
    input {
      height: 44px !important;
      line-height: 18px !important;
    }
  }

  &.p-invalid input {
    color: $color-negative;
    border-color: $color-negative;
    box-shadow: none;

    &:hover {
      border-color: $color-negative;
    }
  }

  &.p-calendar-disabled {
    cursor: not-allowed;

    input {
      background-color: $color-grey-deep;
      border-color: $color-grey-deep;
      opacity: 1;
    }
  }

  &-filled.p-calendar-disabled input {
    background-color: $color-grey;
    border-color: $color-grey;
  }

  input {
    height: 56px;
    padding: 8px 16px;
    color: $color-primary-black;
    font-size: 16px;
    line-height: 22px;
    background-color: $color-grey-light;
    border-color: $color-grey-bold;
    border-style: solid;
    border-width: 1px;
    border-radius: 12px;

    &:hover {
      border-color: $color-primary;
    }

    &::placeholder {
      color: $color-grey-dark;
      font-weight: 400;
      font-size: 14px;
    }
  }

  &.p-calendar:not(.p-calendar-disabled, .p-invalid).p-focus>.p-inputtext {
    padding: 7px 15px;
    border-color: $color-primary;
    border-width: 2px;
    box-shadow: none;
  }
}

.#{$cls}-panel {
  padding: 24px;
  background-color: $color-primary-white;

  .p-datepicker-buttonbar {
    padding: 8px 0;
    border: none;

    .p-button {
      padding: 0 16px;
      color: $color-primary-black;
      font-size: 16px;
      font-family: var(--font-inter), Inter;
      line-height: 18px;

      &:hover {
        color: $color-primary;
        background-color: inherit;
      }

      span {
        font-weight: 500;
      }
    }
  }

  .p-datepicker-group-container {
    gap: 24px;

    .p-datepicker-group {
      display: flex;
      flex-direction: column;
      gap: 12px;
      padding: 0 !important;
      border: 0 !important;

      .p-datepicker-header {
        padding: 0;
        border: none;

        .p-datepicker-title {
          display: inline-flex;
          gap: 4px;
          align-items: center;

          >* {
            font-weight: 500;
            font-size: 18px;
            font-family: var(--font-inter), Inter;
            line-height: 20px;

            &:hover {
              color: $color-primary;
            }
          }
        }

        .p-datepicker-prev,
        .p-datepicker-next {
          &:hover {
            background-color: inherit;

            >i {
              color: $color-primary !important;
            }
          }
        }
      }

      .p-datepicker-calendar-container {
        table {
          width: calc($size * 7);
          margin: 0;
          table-layout: fixed;
          border-collapse: separate;
          border-spacing: 0 4px;
        }

        .p-datepicker-calendar {
          thead tr th span {
            color: $color-primary-black;
            font-weight: 700;
            font-size: 16px;
            font-family: var(--font-inter), Inter;
            line-height: 18px;
          }

          tbody tr td {
            width: $size !important;
            height: $size;
            padding: 0 !important;

            &:first-child {
              border-radius: 50% 0 0 50%;
            }

            &:last-child {
              border-radius: 0 50% 50% 0;
            }
          }

          tbody tr td span {
            width: $size;
            height: $size;
            color: $color-primary-black;
            font-weight: 500;
            font-size: 16px;
            font-family: var(--font-inter), Inter;
            line-height: 18px;
            border: none;
            box-shadow: none;

            &.p-highlight {
              color: $color-primary-white;
              background-color: $color-primary;

              &:hover {
                color: $color-primary-white;
                background-color: $color-primary;
              }
            }

            &.p-disabled {
              color: $color-grey-dark;
            }

            &:hover {
              color: $color-primary;
              background-color: $color-primary-white;
            }
          }

          .p-datepicker-today {
            span {
              color: $color-primary;
              background-color: $color-primary-white;
            }
          }

        }
      }
    }
  }

  .p-yearpicker {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 16px;
    place-items: center center;
    text-align: center;

    .p-yearpicker-year {
      width: auto;
      font-weight: 500;
      font-size: 18px;
      font-family: var(--font-inter), Inter;
      line-height: 20px;
      border: none;
      box-shadow: none;

      &.p-highlight {
        color: $color-primary-white;
        background-color: $color-primary;

        &:hover {
          color: $color-primary-white;
          background-color: $color-primary;
        }
      }

      &:hover {
        color: $color-primary;
        background-color: $color-primary-white;
      }
    }
  }

  .p-monthpicker {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 16px;
    place-items: center center;
    text-align: center;

    .p-monthpicker-month {
      width: auto;
      padding: 4px 16px;
      font-weight: 500;
      font-size: 18px;
      font-family: var(--font-inter), Inter;
      line-height: 20px;
      border: none;
      box-shadow: none;

      &.p-highlight {
        color: $color-primary-white;
        background-color: $color-primary;

        &:hover {
          color: $color-primary-white;
          background-color: $color-primary;
        }
      }

      &:hover {
        color: $color-primary;
        background-color: $color-primary-white;
      }
    }
  }
}

.#{$cls}-wrapper {
  display: inline-flex;
  flex-direction: column;
}

.#{$cls}-label {
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 16px;
  font-style: normal;
  line-height: 108%;

  &-required {
    &::after {
      margin-left: 4px;
      color: $color-negative;
      font-size: 16px;
      font-style: normal;
      line-height: 120%;
      content: '*';
    }
  }
}

.#{$cls}-p-start {
  background-color: $color-info-light !important;
  border-radius: 50% 0 0 50% !important;

  &:last-child {
    border-radius: 50% !important;
  }

  span {
    color: $color-primary-white !important;
    background-color: $color-primary !important;
    border-radius: 50% !important;
  }
}

.#{$cls}-p-end {
  background-color: $color-info-light !important;
  border-radius: 0 50% 50% 0 !important;

  &:first-child {
    border-radius: 50% !important;
  }

  span {
    color: $color-primary-white !important;
    background-color: $color-primary !important;
    border-radius: 50% !important;
  }
}

.#{$cls}-p-range {
  color: $color-primary-white !important;
  background-color: $color-info-light !important;

  span {
    &.p-highlight {
      color: $color-primary-black !important;
      background-color: transparent !important;
    }
  }
}