@use '../../../variable.scss'as *;

$component: 'clipboard';

.#{$prefix}-#{$component} {
  display: flex;
  flex-direction: column;

  &-label {
    margin-bottom: 8px;
  }

  &-content {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px;
    background-color: $color-grey-light;
    border-color: $color-grey-deep;
    border-style: solid;
    border-width: 1px;
    border-radius: 12px;

    &-text {
      display: inline-block;
      margin: 0;
      color: $color-grey-midnight !important;
      word-wrap: break-word;
      word-break: break-all;
    }

    i.#{$prefix}-#{$component}-content-icon {
      padding: 0;
      background-color: transparent;

      &:hover {
        background-color: transparent;
      }
    }
  }
}