@use '../../../variable.scss'as *;

$component: 'badge';

.#{$prefix}-#{$component} {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  padding: 0 8px;
  font-weight: 500;
  font-size: 12px;
  line-height: 108%;
  border-radius: 12px;

  &-neutral {
    color: $color-grey-midnight;
    background-color: $color-grey;
  }

  &-warning {
    color: $color-warning-dark;
    background-color: $color-warning-background;
  }

  &-negative {
    color: $color-negative;
    background-color: $color-negative-background;
  }

  &-success {
    color: $color-success;
    background-color: $color-success-background;
  }

  &-recommend {
    color: $color-info;
    background-color: $color-info-light;
  }

  &-black {
    color: $color-primary-black;
    background-color: $color-grey-deep;
  }
}