.usd1-react-ui-input {
  display: inline-flex;
  color: #000;
  font-weight: 300;
  font-size: 14px;
  font-style: normal;
  line-height: 20px;
  background-color: #FAFAFC;
  border: 0.5px solid #E0E2EE;
  border-radius: 20px;

  .p-inputtext {
    font-family: inherit;
  }

  &-text,
  &-mask {
    padding: 12px 24px;
  }

  &-otp {
    background-color: inherit;
    border: none;

    .p-inputtext:enabled:hover {
      border-color: #3d73f2;
    }

    .p-inputotp {
      gap: 16px;
    }

    input {
      font-weight: 600;
      font-size: 17px;
      background-color: #FAFAFC;
      border: 0.5px solid #E0E2EE;
      border-radius: 8px;
    }
  }

  .p-inputtext:enabled:focus:not(.p-invalid),
  &.p-inputtext:enabled:focus:not(.p-invalid) {
    border-color: #3D73F2;
    box-shadow: 0 0 0 2px #ABC4FF;
  }

  &.p-invalid {
    border-color: #CC1461;
    box-shadow: none;
  }

  >input,
  &-password input {
    padding: 12px 24px;
    font-weight: inherit;
    font-size: inherit;
    background-color: inherit;
    border: inherit;
    border-radius: inherit;
  }

  &-password {
    .p-icon-field {
      border: inherit;
      border-radius: inherit;
    }

    .p-input-icon {
      display: inline-flex;
      align-items: center;
      margin-top: 0;
      transform: translateY(-50%);
      cursor: pointer;
    }
  }
}

.usd1-react-ui-input-wrapper {
  display: inline-flex;
  flex-direction: column;
}

.usd1-react-ui-input-label {
  margin-bottom: 8px;
  padding-left: 8px;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 20px;

  &-required {
    &::after {
      color: #CC1461;
      font-weight: 400;
      font-size: 14px;
      font-style: normal;
      line-height: 120%;
      content: '*';
    }
  }
}