.usd1-react-ui-input {
  display: inline-flex;
  color: #000;
  font-weight: 300;
  font-size: 14px;
  font-family: inherit;
  font-style: normal;
  line-height: 20px;

  >input,
  &-text,
  &-mask,
  &-textarea,
  &-password input {
    width: 100%;
    padding: 10px 16px;
    font-weight: 300;
    font-size: 14px;
    font-family: inherit;
    line-height: 20px;
    background-color: #FAFAFC;
    border: 1px solid #F2F2F2;
    border-radius: 8px;

    &.p-invalid {
      border-color: #CC1461;
      box-shadow: none;
    }
  }

  &-rounded,
  &-rounded input {
    border-radius: 20px;
  }

  &-otp.usd1-react-ui-input-rounded {
    input {
      border-radius: 16px;
    }
  }

  &-otp {
    background-color: inherit;
    border: none;

    .p-inputtext:enabled:hover:not(.p-invalid) {
      border-color: #3d73f2;
    }

    .p-inputotp {
      gap: 16px;
    }

    input {
      width: 48px;
      height: 50px;
      padding: 12px 16px;
      font-weight: 600;
      font-size: 17px;
      background-color: #FAFAFC;
      border: 0.5px solid #E0E2EE;
      border-radius: 8px;

      &.p-invalid {
        border-color: #CC1461;
        box-shadow: none;
      }
    }
  }

  .p-inputtext:enabled:focus:not(.p-invalid),
  &.p-inputtext:enabled:focus:not(.p-invalid) {
    border-color: #3D73F2;
    box-shadow: 0 0 0 2px #ABC4FF;
  }

  &.p-invalid {
    border-color: #CC1461;
    box-shadow: none;

    input {
      border-color: inherit !important;
      box-shadow: inherit !important;
    }
  }

  &-password {
    .p-icon-field {
      width: 100%;
      border: inherit;
      border-radius: inherit;
    }

    .p-input-icon {
      display: inline-flex;
      align-items: center;
      margin-top: 0;
      transform: translateY(-50%);
      cursor: pointer;
    }
  }
}

.usd1-react-ui-input-wrapper {
  display: inline-flex;
  flex-direction: column;
}

.usd1-react-ui-input-inner {
  display: inline-flex;
  align-items: center;
}

.usd1-react-ui-input-addons {
  padding: 10px;
  color: #808080;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 20px;
  background-color: #FAFAFC;
  border-top: 1px solid #F2F2F2;
  border-bottom: 1px solid #F2F2F2;
  border-left: 1px solid #F2F2F2;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.usd1-react-ui-input-addons+.usd1-react-ui-input {
  background-color: #FFF;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.usd1-react-ui-input-label {
  display: inline-block;
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 20px;
  word-wrap: break-word;
  word-break: break-all;

  &-required {
    &::after {
      color: #CC1461;
      font-weight: 400;
      font-size: 14px;
      font-style: normal;
      line-height: 120%;
      content: '*';
    }
  }
}

.usd1-react-ui-input-error {
  display: inline-block;
  padding: 4px 8px 0;
  color: #CC1461;
  font-weight: 300;
  font-size: 12px;
  font-style: normal;
  line-height: 150%;
  word-wrap: break-word;
  word-break: break-all;
}