.om-react-ui-select {
  display: inline-flex;
  min-height: 38px;
  padding: 10px 16px;
  background-color: #FAFAFC;
  border: 1px solid #E0E2EE;
  border-radius: 8px;

  &.p-invalid {
    border-color: #CC1461;
    box-shadow: none;
  }

  &.p-multiselect {
    padding: 6px 10.5px;
  }

  &.p-multiselect:not(.p-disabled, .p-invalid).p-focus,
  &.p-dropdown:not(.p-disabled, .p-invalid).p-focus {
    border-color: #3D73F2;
    box-shadow: 0 0 0 2px #ABC4FF;
  }

  &.p-multiselect:not(.p-disabled, .p-invalid),
  &.p-dropdown:not(.p-disabled, .p-invalid) {
    &:hover {
      border-color: #3D73F2;
    }
  }

  .p-dropdown-label,
  .p-multiselect-label {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    align-items: center;
    padding: 0 6px 0 0;
    color: #000;
    font-size: 14px;

    .p-multiselect-token {
      margin-right: 0;
      background-color: #E5EFFF;

      .p-multiselect-token-label {
        color: #404040;
      }
    }
  }

  .p-multiselect-label-container {
    display: flex;
    align-items: center;
  }

  .p-multiselect-label {
    .p-multiselect-token {
      height: 28px;
    }
  }

  .p-multiselect-label,
  >.p-placeholder {
    color: #808080;
    font-weight: 300;
    font-size: 14px;
    font-style: normal;
  }

  .p-dropdown-trigger,
  .p-multiselect-trigger {
    width: auto;
  }

  &-panel {
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 10%);

    &.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight.p-focus,
    &.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
      font-weight: 600;
      background-color: inherit;
    }

    &.p-dropdown-panel .p-dropdown-items .p-dropdown-item:not(.p-highlight, .p-disabled).p-focus {
      font-weight: 600;
      background-color: #FAFAFC;
    }

    &.p-dropdown-panel .p-dropdown-items .p-dropdown-item {
      color: #000;
      font-weight: 300;
      font-size: 14px;
      font-style: normal;
      line-height: 20px;
    }

    &.p-multiselect-panel .p-multiselect-items .p-multiselect-item.p-highlight {
      background-color: #E5EFFF;
    }

    .p-multiselect-item .p-multiselect-checkbox .p-checkbox.p-highlight .p-checkbox-box {
      background-color: #3D73F2;
    }

    .p-dropdown-filter.p-inputtext {
      padding: 10px 16px;
      font-size: 14px;

      &:enabled:focus:not(.p-invalid) {
        border-color: #3D73F2;
        box-shadow: 0 0 0 2px #ABC4FF;
      }

      &:hover {
        border-color: #3D73F2;
      }
    }

    .p-dropdown-filter-icon {
      right: 1rem;
    }
  }

  &-show svg {
    transform: rotate(180deg);
  }

  &-rounded {
    border-radius: 20px;

    &-panel {
      border-radius: 20px;
    }
  }
}

.om-react-ui-select-wrapper {
  display: inline-flex;
  flex-direction: column;
}


.om-react-ui-select-label {
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 20px;

  &-required {
    &::after {
      color: #CC1461;
      font-weight: 400;
      font-size: 14px;
      font-style: normal;
      line-height: 120%;
      content: '*';
    }
  }
}