@use '../../../variable'as *;

$component: 'select';
$cls: #{$prefix}-#{$component};

.#{$cls} {
  position: relative;
  display: inline-flex;
  min-height: 56px;
  padding: 8px 16px;
  font-family: inherit;
  line-height: 22px;
  background-color: $color-grey-light;
  border-color: $color-grey-bold;
  border-style: solid;
  border-width: 1px;
  border-radius: 12px;
  transition: none;

  &.#{$cls}-small {
    min-height: 44px;
    line-height: 18px;

    .p-dropdown-label,
    .p-multiselect-label {
      font-size: 14px !important;
    }

    .p-dropdown-label {
      padding: 4px 8px 4px 0;
    }
  }

  &.p-multiselect.#{$cls}-small.#{$cls}-filled {
    padding: 8px 16px;
  }

  &.p-invalid {
    border-color: $color-negative;
    box-shadow: none;

    .p-dropdown-label,
    .p-multiselect-label {
      color: $color-negative;
    }
  }

  &.p-disabled {
    background-color: $color-grey-deep;
    border-color: $color-grey-deep;
    opacity: 1;
  }

  &-filled.p-disabled {
    background-color: $color-grey;
    border-color: $color-grey;
  }

  &-success:not(.p-disabled, .p-invalid) {
    border-color: $color-success;

    .p-dropdown-label,
    .p-multiselect-label {
      color: $color-success !important;
    }
  }

  .p-dropdown-label {
    display: inline-block;
    padding: 8px 8px 8px 0;
    overflow: hidden;
    color: $color-primary-black;
    font-weight: 400;
    font-size: 16px;
    font-family: inherit;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: none;
  }

  .p-multiselect-label {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    align-items: center;
    padding: 0 8px 0 0;
    color: $color-primary-black;
    font-weight: 400;
    font-size: 16px;
    font-family: inherit;
    line-height: 140%;
    transition: none;

    .p-multiselect-token {
      max-width: 100%;
      margin-right: 0;
      padding: 4px 8px;
      background-color: $color-grey-deep;
      border-radius: 12px;

      .p-multiselect-token-label {
        display: inline-block;
        overflow: hidden;
        color: $color-primary-black;
        font-weight: 500;
        font-size: 12px;
        line-height: 13px;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }

  .p-multiselect-label-container {
    display: flex;
    align-items: center;
    line-height: inherit;
  }

  .p-multiselect-label,
  >.p-placeholder {
    color: $color-grey-dark;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    line-height: inherit;
  }

  .p-dropdown-trigger,
  .p-multiselect-trigger {
    width: auto;
  }

  &.p-multiselect {
    padding: 12px 16px;
  }

  &:not(.#{$cls}-disabled, .#{$cls}-invalid).p-focus,
  &:not(.#{$cls}-disabled, .#{$cls}-invalid).p-focus,
  &-focus:not(.#{$cls}-disabled, .#{$cls}-invalid) {
    border-color: $color-primary;
    border-width: 2px;
    box-shadow: none;
  }

  &:not(.#{$cls}-disabled, .#{$cls}-invalid),
  &:not(.#{$cls}-disabled, .#{$cls}-invalid) {
    &:hover {
      border-color: $color-primary-black;
    }
  }

  &-panel {
    padding: 8px;
    font-family: inherit;
    background-color: $color-primary-white;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(65, 91, 130, 12%);

    ::-webkit-scrollbar {
      width: 2px;
    }

    ::-webkit-scrollbar-thumb {
      background-color: $color-grey-dark;
      border-radius: 2px;
    }

    &.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight.p-focus,
    &.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
      background-color: $color-grey-light;

      .#{$cls}-panel-item {
        svg {
          display: inline-block;
        }
      }
    }

    &.p-dropdown-panel .p-dropdown-items .p-dropdown-item:not(.p-highlight, .p-disabled).p-focus {
      background-color: $color-grey-light;
    }

    &.p-dropdown-panel .p-dropdown-items .p-dropdown-item {
      padding: 8px;
      color: $color-primary-black;
      font-weight: 400;
      font-size: 16px;
      font-style: normal;
      line-height: 22px;
      border-radius: 8px
    }

    &.p-multiselect-panel {
      .#{$cls}-panel-header {
        margin-bottom: 8px;
        padding: 0;
        background-color: inherit;
        border: none;

        &-info {
          display: inline-flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          margin-bottom: 8px;
          padding: 4px;

          &-count {
            font-weight: 500;
            font-size: 14px;
            line-height: 15px;
          }

          &-clear {
            display: inline-flex;
            gap: 4px;
            align-items: center;
            color: $color-negative;
            font-weight: 500;
            font-size: 12px;
            line-height: 13px;
            cursor: pointer;

            &-icon {
              padding: 2px;
            }
          }
        }

        .p-multiselect-close {
          display: none;
        }

        .p-multiselect-filter-container {
          .p-multiselect-filter {
            height: 44px;
            padding: 12px 16px 12px 44px;
            color: $color-primary-black;
            font-size: 14px;
            line-height: 22px;
            background-color: $color-grey-light;
            border-color: $color-grey-bold;
            border-style: solid;
            border-width: 1px;
            border-radius: 12px;

            &:hover {
              border-color: $color-primary-black;
            }

            &.p-inputtext:enabled:focus {
              border-color: $color-primary;
              border-width: 2px;
              box-shadow: none;
            }

            &::placeholder {
              color: $color-grey-dark;
            }
          }
        }
      }

      .p-multiselect-items {
        font-family: inherit;

        .p-multiselect-item {
          color: $color-primary-black;
          font-weight: 400;

          &.p-highlight {
            background-color: $color-grey-light;
          }

          &:not(.p-disabled, .p-invalid, .p-highlight).p-focus {
            background-color: $color-grey-light;
          }

          .p-multiselect-checkbox {
            display: inline-flex;
            align-items: center;

            .p-checkbox {
              width: 16px;
              height: 16px;
              margin-right: 8px;

              &.p-highlight {
                .p-checkbox-box {
                  background-color: $color-primary;
                  border-color: $color-primary;
                }
              }

              .p-checkbox-box {
                width: 16px;
                height: 16px;
                padding: 2px;
                background-color: $color-primary-white;
                border-color: $color-grey-dark;
                border-style: solid;
                border-width: 1px;
                border-radius: 4px;
                box-shadow: none;
              }
            }
          }
        }
      }
    }

    .p-dropdown-header {
      margin-bottom: 8px;
      padding: 0;
      border: none;
    }

    .p-dropdown-filter.p-inputtext {
      height: 44px;
      padding: 12px 16px 12px 44px;
      color: $color-primary-black;
      font-size: 14px;
      background-color: $color-grey-light;
      border-color: $color-grey-bold;
      border-style: solid;
      border-width: 1px;
      border-radius: 12px;

      &:enabled:focus:not(.p-invalid) {
        border-color: $color-primary;
        border-width: 2px;
        box-shadow: none;
      }

      &:hover {
        border-color: $color-primary-black;
      }

      &::placeholder {
        color: $color-grey-dark;
      }
    }

    .p-dropdown-filter-icon {
      right: 1rem;
    }

    .p-dropdown-item-label {
      width: 100%;
    }

    &-item {
      display: inline-flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      &-label {
        font-weight: inherit;
        font-size: 16px;
        font-family: inherit;
        line-height: 22px;
      }

      svg {
        display: none;
        color: $color-primary;
        font-size: 16px;
      }
    }
  }

  &-show.p-multiselect .p-multiselect-trigger svg {
    transform: rotate(180deg);
  }
}

.#{$cls}-wrapper {
  display: inline-flex;
  flex-direction: column;
  width: 100%;

  &:has(.p-disabled) {
    cursor: not-allowed;
  }

  &:has(.#{$cls}-filled, .p-disabled) {
    cursor: text;

    .p-dropdown-label.p-inputtext {
      user-select: text;
    }
  }
}


.#{$cls}-label {
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 16px;
  font-style: normal;
  line-height: 108%;
  cursor: text;

  &-required {
    &::after {
      margin-left: 4px;
      color: $color-negative;
      font-size: 16px;
      font-style: normal;
      line-height: 120%;
      content: '*';
    }
  }
}

.#{$cls}-message {
  display: inline-block;
  margin-top: 4px;
  color: $color-grey-midnight;
  font-weight: 400;
  font-size: 12px;
  font-style: normal;
  line-height: 17px;
  word-wrap: break-word;
  word-break: break-all;
  cursor: text;

  &-success {
    color: $color-success;
  }

  &-error {
    color: $color-negative;
  }
}

.#{$cls}-filter {
  &-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
  }
}

.#{$cls}-custom {
  align-items: center;
  justify-content: space-between;
  cursor: pointer;

  &-placeholder {
    color: $color-grey-dark;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    line-height: inherit;
  }
}

.#{$cls}-token-remove-icon {
  margin-left: 4px;
  padding: 2px;
  cursor: pointer;
}