@use '../../../variable'as *;

$component: 'select';
$cls: #{$prefix}-#{$component};

.#{$cls} {
  display: inline-flex;
  min-height: 56px;
  padding: 8px 16px;
  font-family: inherit;
  background-color: $color-grey-light;
  border-color: $color-grey-deep;
  border-style: solid;
  border-width: 1px;
  border-radius: 12px;
  transition: none;

  &-small {
    min-height: 44px;
    line-height: 20px;

    .p-dropdown-label,
    .p-multiselect-label {
      font-size: 14px !important;
    }
  }

  &.p-invalid {
    border-color: $color-negative;
    box-shadow: none;

    .p-dropdown-label,
    .p-multiselect-label {
      color: $color-negative;
    }
  }

  &.p-disabled {
    background-color: $color-grey;
    border-color: $color-grey-bold;

    .p-dropdown-label,
    .p-multiselect-label {
      color: $color-grey-dark;
    }
  }

  &-success:not(.p-disabled, .p-invalid) {
    border-color: $color-success;

    .p-dropdown-label,
    .p-multiselect-label {
      color: $color-success !important;
    }
  }

  .p-dropdown-label,
  .p-multiselect-label {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    align-items: center;
    padding: 0 8px 0 0;
    color: $color-primary-black;
    font-weight: 400;
    font-size: 16px;
    font-family: inherit;
    line-height: 140%;
    transition: none;

    .p-multiselect-token {
      margin-right: 0;
      background-color: $color-secondary;

      .p-multiselect-token-label {
        color: $color-primary-black;
      }
    }
  }

  .p-multiselect-label-container {
    display: flex;
    align-items: center;
  }

  .p-multiselect-label {
    .p-multiselect-token {
      height: 28px;
    }
  }

  .p-multiselect-label,
  >.p-placeholder {
    color: $color-grey-midnight;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    line-height: 140%;
  }

  .p-dropdown-trigger,
  .p-multiselect-trigger {
    width: auto;
  }

  &.p-multiselect {
    padding: 6px 10.5px;
  }

  &.p-multiselect:not(.p-disabled, .p-invalid).p-focus,
  &.p-dropdown:not(.p-disabled, .p-invalid).p-focus {
    border-color: $color-primary;
    border-width: 2px;
    box-shadow: none;
  }

  &.p-multiselect:not(.p-disabled, .p-invalid),
  &.p-dropdown:not(.p-disabled, .p-invalid) {
    &:hover {
      border-color: $color-primary-black;
    }
  }

  &-panel {
    padding: 8px;
    font-family: inherit;
    background-color: $color-primary-white;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(65, 91, 130, 12%);

    ::-webkit-scrollbar {
      width: 2px;
    }

    ::-webkit-scrollbar-thumb {
      background-color: $color-grey-dark;
      border-radius: 2px;
    }

    &.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight.p-focus,
    &.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
      background-color: $color-grey-light;

      .#{$cls}-panel-item {
        svg {
          display: inline-block;
        }
      }
    }

    &.p-dropdown-panel .p-dropdown-items .p-dropdown-item:not(.p-highlight, .p-disabled).p-focus {
      font-weight: 600;
      background-color: inherit;
    }

    &.p-dropdown-panel .p-dropdown-items .p-dropdown-item {
      padding: 8px;
      color: $color-primary-black;
      font-weight: 400;
      font-size: 16px;
      font-style: normal;
      line-height: 22px;
      border-radius: 8px
    }

    &.p-multiselect-panel {
      .p-multiselect-header {
        margin-bottom: 8px;
        padding: 0;
        background-color: inherit;
        border: none;

        .p-multiselect-close {
          display: none;
        }

        .p-multiselect-filter-container {
          .p-multiselect-filter {
            padding: 12px 16px 12px 44px;
            color: $color-primary-black;
            background-color: $color-grey-light;
            border-color: $color-grey-bold;
            border-style: solid;
            border-width: 1px;
            border-radius: 12px;

            &.p-inputtext:enabled:focus {
              box-shadow: none;
            }

            &::placeholder {
              color: $color-grey-dark;
            }
          }
        }
      }

      .p-multiselect-items {
        font-family: inherit;

        .p-multiselect-item {
          color: $color-primary-black;

          &.p-highlight {
            background-color: $color-grey-light;
          }

          &:hover:not(.p-highlight) {
            font-weight: 500;
            background-color: inherit;
          }

          .p-multiselect-checkbox {
            display: inline-flex;
            align-items: center;

            .p-checkbox {
              width: 16px;
              height: 16px;
              margin-right: 8px;

              &.p-highlight {
                .p-checkbox-box {
                  background-color: $color-primary;
                  border-color: $color-primary;
                }
              }

              .p-checkbox-box {
                width: 16px;
                height: 16px;
                padding: 2px;
                background-color: $color-primary-white;
                border-color: $color-grey-dark;
                border-style: solid;
                border-width: 1px;
                border-radius: 4px;
                box-shadow: none;
              }
            }
          }
        }
      }
    }

    .p-dropdown-filter.p-inputtext {
      padding: 10px 16px;
      font-size: 14px;

      &:enabled:focus:not(.p-invalid) {
        border-color: $color-primary;
        box-shadow: 0 0 0 2px $color-secondary;
      }

      &:hover {
        border-color: $color-primary;
      }
    }

    .p-dropdown-filter-icon {
      right: 1rem;
    }

    .p-dropdown-item-label {
      width: 100%;
    }

    &-item {
      display: inline-flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      &-label {
        font-weight: 400;
        font-size: 16px;
        font-family: inherit;
        line-height: 22px;
      }

      svg {
        display: none;
        color: $color-primary;
        font-size: 16px;
      }
    }
  }

  &-show svg {
    transform: rotate(180deg);
  }
}

.#{$cls}-wrapper {
  display: inline-flex;
  flex-direction: column;
  width: 100%;
}


.#{$cls}-label {
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 16px;
  font-style: normal;
  line-height: 108%;

  &-required {
    &::after {
      margin-left: 4px;
      color: $color-negative;
      font-size: 16px;
      font-style: normal;
      line-height: 120%;
      content: '*';
    }
  }
}

.#{$cls}-message {
  display: inline-block;
  margin-top: 4px;
  color: $color-grey-midnight;
  font-weight: 400;
  font-size: 12px;
  font-style: normal;
  line-height: 17px;
  word-wrap: break-word;
  word-break: break-all;

  &-success {
    color: $color-success;
  }

  &-error {
    color: $color-negative;
  }
}

.#{$cls}-filter {
  &-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
  }
}