$prefix: 'om-react-ui';
$color-primary: #073387;
$color-primary-active: #03163A;
$color-primary-hover: #052561;
$color-primary-black: #131313;
$color-primary-white: #FEFEFE;
$color-secondary: #DDE6F4;
$color-secondary-active: #A4BBE1;
$color-secondary-hover: #C1D0EB;
$color-grey-light: #F8F8F8;
$color-grey: #F0F0F0;
$color-grey-deep: #E3E4E4;
$color-grey-bold: #D1D2D2;
$color-grey-dark: #9FA3A3;
$color-grey-midnight: #646465;
$color-grey-night: #404042;
$color-black: #000;
$color-white: #FFF;
$color-info: #3D7CF5;
$color-info-light: #EDF2F9;
$color-success: #1F5800;
$color-success-background: #1F580033;
$color-warning: #F4C600;
$color-warning-background: #F4C60033;
$color-negative: #AE0000;
$color-negative-hover: #920000;
$color-negative-active: #780000;
$color-negative-background: #AE00001A;
$color-dimmer-dark: #1F2531;