$prefix: 'om-react-ui';
$color-primary: #073387;
$color-primary-active: #03163A;
$color-primary-hover: #052561;
$color-primary-black: #131313;
$color-primary-white: #FEFEFE;
$color-primary-light: #DDE6F4;
$color-secondary: #DDE6F4;
$color-secondary-active: #A4BBE1;
$color-secondary-hover: #C1D0EB;
$color-grey-light: #F8F8F8;
$color-grey: #F0F0F0;
$color-grey-deep: #E3E4E4;
$color-grey-bold: #D1D2D2;
$color-grey-dark: #9FA3A3;
$color-grey-midnight: #646465;
$color-grey-night: #404042;
$color-black: #000;
$color-white: #FFF;
$color-info: #3D7CF5;
$color-info-light: #EDF2F9;
$color-success: #1F5800;
$color-success-background: #1F580033;
$color-warning: #F4C600;
$color-warning-hover: #FFB300;
$color-warning-active: #FFA000;
$color-warning-dark: #DB8600;
$color-warning-background: #F4C60033;
$color-negative: #AE0000;
$color-negative-hover: #920000;
$color-negative-active: #780000;
$color-negative-background: #AE00001A;
$color-dimmer-dark: #1F2531;

// Border Radius
$radius-xs: 4px;
$radius-sm: 8px;
$radius-md: 12px;
$radius-lg: 16px;
$radius-round: 36px;
$radius-full: 50%;

// Box Shadow (Elevation)
$shadow-sm: 0 1px 2px rgba(0, 0, 0, 6%);
$shadow-md: 0 4px 8px 0 rgba(65, 91, 130, 12%);
$shadow-lg: 0 2px 5px 0 rgba(0, 0, 0, 10%);
$shadow-popup: 0 255px 71px 0 rgba(0, 0, 0, 0%), 0 10px 22px 0 rgba(0, 0, 0, 10%);

// Font Family
/* stylelint-disable value-keyword-case */
$font-family-primary: var(--font-inter), Inter;
$font-family-display: var(--font-aeonik), Aeonik;
/* stylelint-enable value-keyword-case */

// Font Size
$font-size-xs: 10px;
$font-size-sm: 12px;
$font-size-md: 14px;
$font-size-lg: 16px;
$font-size-xl: 18px;

// Font Weight
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
