$color-primary: #073387;
$color-primary-active: #03163A;
$color-primary-hover: #052561;
$color-primary-black: #131313;
$color-secondary: #DDE6F4;
$color-secondary-active: #A4BBE1;
$color-secondary-hover: #C1D0EB;
$color-grey-light: #F8F8F8;
$color-grey: #F0F0F0;
$color-grey-deep: #E3E4E4;
$color-grey-bold: #D1D2D2;
$color-grey-dark: #9FA3A3;
$color-grey-midnight: #646465;
$color-grey-night: #404042;
$color-black: #000;
$color-white: #FFF;
$color-info: #3D7CF5;
$color-success: #1F5800;
$color-warning: #F4C600;
$color-negative: #AE0000;
